{% extends "layout.html" %}

{% block content %}
{% load rest_framework %}

{% if user.is_authenticated %}
    {% if latest_meme_list %}
        {% for meme in latest_meme_list %}
            <div>
                <a href="{% url 'meme_detail' meme_id=meme.id %}">Meme {{ meme.id }}</a><br/>
                Creator by : <a href="{% url 'creator_detail' creator_id=meme.creator.id %}">{{ meme.creator.username }}</a><br />
                The description : {{ meme.description }} <br />
                <img src="{{ meme.meme_image.url }}"
                     alt="Maybe the best meme ?"
                     class="fit-picture"/>
            </div>
        {% endfor %}
    {% endif %}
    <hr/>
    <div>
        <form action="{% url 'memes' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% render_form serializer %}
        <button type="submit" class="btn btn-default">Send meme</button>
    </div>
{% else %}
    <p>You're not logged in !</p>
    <a href="{% url 'login' %}">Please login</a>
{% endif %}

{% endblock content %}
