<html>
<head><title></title></head>

<body>

{% if meme %}
    You're on the meme : {{ meme.id }}<br />
    <br />
    <a href={{ meme.meme_image.url }}><img src={{ meme.meme_image.url }} /></a><br />
    <br />
    {{ meme }} <br />
{% endif %}

{% if meme_evals %}
    Evaluations of the current meme : <br />
    <ul>
        {% for eval in meme_evals %}
            <li>
                {{ eval }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    No evaluations for the current meme.
{% endif %}

</body>
</html>
