{% extends "layout.html" %}

{% block content %}
{% if meme %}
    <div>
        You're on the meme : {{ meme.id }}<br />
        <br />
        <a href="{{ meme.meme_image.url }}"><img src="{{ meme.meme_image.url }}"
                                                 class="fit-picture" /></a><br />
        <br />
        Creator by : <a href="{% url 'creator_detail' creator_id=meme.creator.id %}">{{ meme.creator.username }}</a><br />
        The description : {{ meme.description }} <br />
        <br />
    </div>
{% endif %}

{% if meme_evals %}
    Evaluations for the current meme : <br />
    <ul>
        {% for eval in meme_evals %}
            <li>
                {{ eval }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    No evaluations for the current meme.
{% endif %}

{% endblock %}
